.services{
    margin-top: 50px;
    color: rgb(50, 95, 4);
    text-align: center;
}
.card-create12{
    height: 400px;
    margin-top: 40px;
    background-color: rgb(57, 28, 173);
    color: rgb(219, 208, 88);
    border: 1px solid rgb(148, 167, 43);
}
.card-create12 img{
    margin-bottom: 35px;
    height: 170px;
}