.cont{   
    background-color:rgb(86, 86, 185);
    color: white;
    padding: 200px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-create1{
   
    height: 400px;
    margin-top: 30px;
    background-color: rgb(26, 15, 87);
    color: rgb(248, 244, 15);
    border: 1px solid rgb(148, 167, 43);
    
}
.head{
    text-align: center;
    margin-top: 70px;
    color: rgb(11, 139, 28);
    margin-bottom: 50px;
    font-weight: 20px;
}